<!DOCTYPE html>
<html>
  <head>
    <title>Chichila Kawaii Rações Gourmet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
 
  <body>
    <%= render 'shared/navbar' %>
    <div class="container">
      <div class='row'>
        <%= yield %>
      </div>
    </div>
    <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Desenvolvido</strong> by <a href="https://www.linkedin.com/in/denner-viana-11b62939/">Denner viana</a>.-
       <a href="https://github.com/dennerruby">My Git Hub</a>.
      </p>
    </div>
  </footer>
  </body>
</html>
